@import "bootstrap";
@import "fontawesome";
@import 'datepicker';
// @import url('https://fonts.googleapis.com/css2?family={Roboto}:wght@300;400;500;700&display=swap&subset=cyrillic');


#loadWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-bar-spinner.spinner {
  width: 80px;
  height: 80px;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 100%;
  height: 100%;
  border: solid 6px transparent;
  border-top-color: orange !important;
  border-left-color: orange !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12192c;
  overflow: hidden;
}

body,
input,
textarea {
  // font-family: "Poppins", sans-serif;
}

.modal-backdrop {
  z-index: -1;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

video {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.video-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 25, 44, 0.6);
  z-index: 2;
}

/* Стили для .custom-container оставляем без изменений */
.custom-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 2rem;
  padding-bottom: 40px;
  background-color: transparent;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  height: 700px;
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  opacity: 0.9;
}

.contact-form {
  background-color: orange;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=d88153&c2=f7a611&gt=l&gd=dtl
*/
background: #D88153;
background: linear-gradient(135deg, orange, #D88153);
  position: relative;
}

// .contact-form:before {
//   content: "";
//   position: absolute;
//   width: 26px;
//   height: 26px;
//   background-color: #F7A611;
//   // background-color: linear-gradient(135deg, #D88153, #F7A611);
//   transform: rotate(45deg);
//   top: 50px;
//   left: -13px;
// }

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: orange;
  top: 50%;
  transform: translateY(-50%);
  border: orange 2px solid;
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: -10px;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  background-color: #12192c;
  border: orange 2px solid;
}

.contact-info .title {
  color: orange;
}

.text {
  color: #fff;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #fff;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
  color: orange;
}

.social-media {
  padding: 2rem 0 0 0;
  color: orange;
}

.social-media p {
  color: #fff;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, orange, red);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    margin-top: 65px;
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  // .contact-form:before {
  //   top: -13px;
  //   left: initial;
  //   right: 70px;
  // }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .custom-container {
    padding:1rem;
    padding-bottom: 80px;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.88rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.credit{
  left: 20px;
  text-align: left;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
  text-decoration: none;
  color:#FBAB7E;
  font-weight: bold;
}

.datepicker {
  z-index: 1050;
}

.my-datepicker {
  background: #fff; /* Белый фон */
  border: 2px solid #fafafa; /* Бордер */
  border-radius: 25px; /* Радиус скругления */
  padding: 0.6rem 1.2rem; /* Внутренние отступы */
  font-family: "Roboto", sans-serif; /* Шрифт */
  font-size: 0.95rem; /* Размер шрифта */
  color: #4a4a4a; /* Цвет текста */
  width: 100%; /* Ширина */
  box-sizing: border-box; /* Для корректного расчета ширины с учетом padding и border */
}

.my-datepicker:focus {
  border-color: orange; /* Цвет рамки при фокусе */
  box-shadow: 0 0 8px rgba(255, 165, 0, 0.6); /* Тень при фокусе */
  outline: none; /* Убираем стандартный outline */
}

.my-datepicker::placeholder {
  color: orange;
  opacity: 1;
}


.modal-content {
  background: linear-gradient(135deg, #f7762c, #a6593e); /* Обновленный градиент */
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-rows: 130px;
  margin: -15px; /* Негативный margin для компенсации бордеров */
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: block;
  border: 18px solid black;
  // border: 15px solid #f7762c
  box-sizing: border-box; /* Включаем бордеры и padding в общий размер элемента */
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-footer {
  border-top: 1px solid black;
}

.orange-dot {
  font-size: 6px;
  color: orange;
  vertical-align: middle;
}

.form-check-input:checked {
  background-color: orange;
  border-color: orange;
}

.nav-underline .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: orange;
  border-color: orange;
}

.nav-underline .nav-link, .nav-tabs .nav-item.show .nav-link {
  color: grey;
}

.nav-underline .nav-link, .nav-tabs .nav-item.show .nav-link:focus {
  color: orange;
}

.btn-outline-orange {
  border-color: orange !important;
}
